[submodule "external/slang"]
	path = external/slang
	url = https://github.com/MikePopoloski/slang.git
[submodule "external/json"]
	path = external/json
	url = https://github.com/nlohmann/json.git
[submodule "external/yaml"]
	path = external/yaml
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "external/qschematic"]
	path = external/qschematic
	url = https://github.com/simulton/QSchematic.git
[submodule "external/gpds"]
	path = external/gpds
	url = https://github.com/simulton/gpds.git
[submodule "external/csv"]
	path = external/csv
	url = https://github.com/d99kris/rapidcsv.git
[submodule "external/inja"]
	path = external/inja
	url = https://github.com/pantor/inja.git
[submodule "external/antlr4"]
	path = external/antlr4
	url = https://github.com/antlr/antlr4.git
[submodule "external/systemrdl"]
	path = external/systemrdl
	url = https://github.com/vowstar/systemrdl-toolkit.git
[submodule "external/fmt"]
	path = external/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "external/replxx"]
	path = external/replxx
	url = https://github.com/AmokHuginnsson/replxx.git
[submodule "external/libssh2"]
	path = external/libssh2
	url = https://github.com/libssh2/libssh2.git
[submodule "external/mbedtls"]
	path = external/mbedtls
	url = https://github.com/Mbed-TLS/mbedtls.git
[submodule "external/cmark-gfm"]
	path = external/cmark-gfm
	url = https://github.com/github/cmark-gfm.git
